p.main{

    background-color: silver;
    font-family: "Courier New", Times, serif;
    margin:1px;

}
BODY{

    background-color: silver;
}


div.VersusTable table th,td{

    border: 2px solid;
    
}

input.lastDays {
	max-width: 50px;
}
